<div class="example-wrapper">
    <h1>Recommended books</h1>
    <ul>
    {% for book in books %}
        <li><a href="{{ path('book_show', {'id': book.id}) }}">{{ book.id }} {{ book.title }}</a></li>
    {% endfor %}
    </ul>
</div>
