{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {{ book.id }} <br />
    {{ book.isbn }} <br />
    {{ book.title }} <br />
    <a href="{{ path('author_show', {'id': book.author.id}) }}">
        {{ book.author.firstName }}
        {{ book.author.lastName }}
    </a>
    {% if is_granted('ROLE_USER_VIP') %}
    <ul>
    {% for similarBook in book.similarBooks %}
        <li>{{ similarBook.title }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    Recommended: {% if book.recommended %}yes{% else %}no{% endif %}<br />
    Copies: {{ book.availableCopiesNumber|default(0) }}<br />
</div>
    <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>
    <a href="{{ path('book_index') }}">back to list</a>
{% endblock %}
