<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {{ render(controller(
            'App\\Controller\\BookController::recommended'
        )) }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
